:root {
  --primary-color: #f4ed36;
  --bg-section1: 133, 132, 189;
  --bg-section2: 249, 204, 115;
  --bg-section3: 201, 66, 69;
  --bg-rect-back: 172, 79, 152;
  --color-section3: 248, 193, 186;
  --bg-blue-dark: 97, 96, 154;
  --bg-red-card: 193 72 72;
  --bg-footer: 57, 80, 40;
  --bg-select-option: 231, 138, 184;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: rgb(var(--bg-section1));
}

.section1-product {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header-product {
  position: relative;
  margin: 50px 0;
}

.header-product h1 {
  font-family: "Obviously";
  max-width: 600px;
  margin-bottom: -50px;
  margin-left: auto;
  margin-right: auto;
  width: min-content;
  text-wrap: wrap;
  font-stretch: ultra-expanded;
  color: rgb(var(--color-section3));
  transform: scaleY(0.8) scaleX(3);
  font-weight: 900;
  font-size: calc(13vw);
  letter-spacing: 0px;
  text-transform: uppercase;
  line-height: 11vw;
  padding: 0px 0px 100px 0px;
  text-align: center;
}

.header-product img {
  position: absolute;
  top: -350px;
  left: -140px;
  width: 700px;
}

/* MENU BOTTOM SELECT */

.select-option {
  position: relative;
  z-index: 5;
  border: 3px solid black;
  border-radius: 5px 5px 0 0;
  box-shadow: 3px 4px 0px 0px rgba(0, 0, 0, 1);
  max-width: 42rem;
  width: 100%;
  background-color: rgb(var(--bg-select-option));
}

label {
  font-family: DegularBold;
  text-wrap: nowrap;
  width: max-content;
}

.top-option {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  height: max-content;
  padding: 10px;
}

.option-select-1,
.option-select-2 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

input[type="radio"] {
  color: black;
  border: 3px solid black;
  border-radius: 50%;
  background-color: rgb(249, 245, 242);
  cursor: pointer;
  content: "";
  width: 23px;
  aspect-ratio: 1/1;
  margin: 0px;
  display: grid;
  place-content: center;
  font: inherit;
  appearance: none;
}

input[type="radio"]::before {
  content: "";
  display: block;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  transform: scale(0);
  transition: transform 200ms ease-in-out;
  background-color: black;
}

/* Style the radio button when checked */
input[type="radio"]:checked::before {
  transform: scale(1);
}

.bottom-option {
  position: relative;
  z-index: 5;
  cursor: pointer;
  display: flex;
  transition: all 100ms ease-in-out;
  align-items: center;
  justify-content: center;
  border-left: 3px solid black;
  border-right: 3px solid black;
  border-bottom: 3px solid black;
  width: 100%;
  height: max-content;
  border-radius: 0 0 5px 5px;
  padding: 0px 20px;
  box-shadow: 3px 2px 0px 0px rgba(0, 0, 0, 1);
  background-color: #f4ed36;
}

.bottom-option:hover {
  transition: all 100ms ease-in-out;
  box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 1);
  margin-left: 1px;
  margin-top: 1px;
  margin-bottom: -1px;
}

.bottom-option p {
  font-size: 40px;
  font-family: Obviously;
  text-transform: uppercase;
  font-stretch: ultra-expanded;
  transform: scaleX(1) scaleY(0.5);
  font-weight: 700;
}

/* SECTION1 */

.menu-deroulant {
  position: relative;
  overflow: hidden;
  border-top: 3px solid black;
  border-bottom: 3px solid black;
  padding: 20px;
  gap: 20px;
  display: flex;
  z-index: 0;
  flex-direction: column;
}

.top-menu-deroulant {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  width: 100%;
  z-index: 5;
  height: max-content;
  border: 3px solid black;
  border-radius: 5px;
  padding: 20px 0 60px 0;
  box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 1);
  background-color: rgb(var(--bg-section1));
}

.top-menu-deroulant h2 {
  font-family: DegularBold;
  color: #f4ed36;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 2px;
  font-size: 20px;
}

.top-menu-deroulant p {
  max-width: 1400px;
  width: 100%;
  font-family: DegularBold;
  color: #f4ed36;
  text-align: center;
  letter-spacing: 2px;
  line-height: 50px;
  transform: scaleY(1.2);
  font-size: 60px;
}

.bottom-menu-deroulant {
  display: flex;
  align-items: start;
  z-index: 5;
  gap: 20px;
  justify-content: space-between;
  width: 100%;
  height: max-content;
}

.menu-deroulant-1,
.menu-deroulant-2,
.menu-deroulant-3 {
  display: flex;
  cursor: pointer;
  justify-content: space-between;
  border: 3px solid black;
  border-radius: 5px 5px 0 0;
  padding: 20px 15px;
  width: 100%;
  box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 1);
  background-color: rgb(var(--bg-select-option));
}

.deroulant-1,
.deroulant-2,
.deroulant-3 {
  width: 100%;
}

.menu-deroulant-1 p,
.menu-deroulant-2 p,
.menu-deroulant-3 p {
  font-family: "Obviously";
  width: min-content;
  font-stretch: ultra-expanded;
  color: #f4ed36;
  transform: scaleY(0.5) scaleX(1);
  font-weight: 700;
  font-size: calc(3vw);
  text-transform: uppercase;
  line-height: 1vw;
  text-align: center;
}

.btn-radio {
  border: 3px solid black;
  border-radius: 50%;
  background-color: rgb(249, 245, 242);
  width: 20px;
  aspect-ratio: 1/1;
}

.part1-hide {
  display: none;
}

.menu-deroulant-active {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  height: max-content;
  border-left: 3px solid black;
  padding: 20px;
  border-radius: 0 0 5px 5px;
  border-right: 3px solid black;
  border-bottom: 3px solid black;
  box-shadow: 4px 3px 0px 0px rgba(0, 0, 0, 1);
  background-color: rgb(var(--bg-select-option));
}

.children-part1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.children-part1 p {
  font-family: DegularBold;
  font-weight: 700;
  font-size: 1vw;
  text-transform: uppercase;
  line-height: 2vw;
}

@media (max-width: 1200px) {
  .header-product img {
    top: -350px;
    width: 450px;
    left: -60px;
  }
  .top-menu-deroulant p {
    font-size: 30px;
    line-height: 30px;
    padding: 20px;
  }
}

@media (max-width: 1000px) {
  .header-product h1 {
    font-size: 100px;
    line-height: 80px;
  }
  .bottom-menu-deroulant {
    flex-direction: column;
  }
  .menu-deroulant-1 p,
  .menu-deroulant-2 p,
  .menu-deroulant-3 p {
    line-height: 20px;
    font-size: 40px;
  }
  .children-part1 p {
    font-size: 16px;
  }
}

@media (max-width: 700px) {
  .header-product h1 {
    font-size: 65px;
    transform: scaleY(1.5) scaleX(3);
    line-height: 55px;
  }
  .header-product img {
    top: -350px;
    width: 400px;
    left: -40px;
  }
}
